.contact_nav_text{
    position: absolute;
top: 5%;
width: 100%;
left: 3%;
    color: black;
    text-align: center;
}
.contact_school_image img{
    opacity: 0.7;
}
.contact_nav_text h4{
    font-size: 1.7rem;
}
.contact_paragraph h5{
    text-align: center;
    font-size: 1.4rem;

}
.contact_paragraph{
    width: 80%;
    margin: auto;
    font-size: 1.3rem;
}
.contact_paragraph p{
    text-align: center;
    width: 40%;
    align-items: center;
    margin: 0 auto;
    margin-bottom: .5em;

}
.contact_school_image  img{
    position: relative;
}
.contact_location_details_container{
    position: absolute;
    top: 50%;
    left: 15%;
}
.contact_location_details_container img{
    color: white;
}
.contact_icons_container{
background-color:white;
padding: 1em;

}
.contact_icons_container p{
    font-size: .9rem;
}
.contact_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.contact_location_details_container{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 10em;


}
.contact_input_container{
    display: flex;
    gap: 3em;
}
.contact_input_container input{
    border-radius: 4px;
    padding: 1em 1em;
    border: none;
    margin-top: 1em;
    outline: none;
}
.contact_textArea textarea{
    width: 100%;
    margin-top: 1em;
    height: 20vh;
    border: none;
    outline: none;
    border-radius: 4px;
}
.contact_button{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2em;
    border-radius: 4px;
}
.contact_button button{
    padding: .5em .6em;
border: none;
    border-radius: 4px;

}


/* RESPONSIVENESS */
@media (max-width:816px) , (max-width:414px) {
    .contact_school_image img{
        object-fit: contain;
        height: 100%;
        opacity: 0.5;
        width: 100%;

    }
    .contact_nav_text{
        top: 0;
        right: 50%;
    }
    .contact_nav_text h4{
font-size: 1.2rem;
    }
.contact_nav_text h5{
    font-size: .9rem;
}
.contact_nav_text p{
    font-size: .8rem;
    width: 80%;
}
.contact_location_details_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact_input_container{
    display: flex;
    flex-direction: column;
}
.contact_input_container{
    display: flex;
    flex-direction: column;

}
.contact_text_res{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact_location_details_container input {
    border: 1px solid black;

}
.contact_location_details_container button{
    border: 1px solid black;
}
.contact_location_details_container textArea{
    border: 1px solid black;
    width: 100% !important;
}
}