.img{
    background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url("../../../magosoimg/1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    width: 100%;
    height: 100%;
}
.flex{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row-reverse;
    gap: 5em;
}
.credential1{
    display: flex;
    gap: 3em;
}

.credential2{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 1em;
    gap: 3em;
}
.column{
    display: flex;
    flex-direction: column;
}
.input1{
    padding: .9em  2em;
    /* border: none; */
    outline: none;
    border: solid 1px maroon;
}

.button1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    /* margin: 0 auto; */
}

.btn1{
    padding: 1em 2em;
   margin: 0 .2em;
   background-color: maroon;
   border: none;
   color: white;
}
.customize{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
.align{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.direct{
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 50%;
    flex-wrap: wrap;
    margin-top: 1em;
}
.items{
    padding: 1em;
}

.gateway{
    display: flex;
    flex-direction: column;

}

.inputcustomize{
    padding: 1em 1em;
}

.payment{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8em;
}

.heading1{
    text-align: center;
}
.title{
    text-align: center;
    font-size: 1.9rem;
    color:maroon;
}
.border{
    padding: 2em 0em;
    border: none;
    box-shadow: 1px 1px 1px 1px lightgray;
    background-color:rgba(255,255,255,.5);
    width: 50%;
    margin: 2em 2em;
    
}

.mpesa{
    padding: .8em 6em;
    margin: 1em 0;
    background-color: green;
    color: white;
    border: none;
    border-radius: 1px;
}