.img{
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("../../../magosoimg/carosel.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.flex{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row-reverse;
    gap: 5em;
}
.credential1{
    display: flex;
    gap: 3em;
}

.credential2{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 1em;
    gap: 3em;
}
.column{
    display: flex;
    flex-direction: column;
}
.input1{
    padding: .9em  2em;
}

.button1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    /* margin: 0 auto; */
}

.btn1{
    padding: 1em 5em;
}
.customize{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
.align{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.direct{
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 50%;
    flex-wrap: wrap;
    margin-top: 1em;
}
.items{
    padding: 1em;
}

.gateway{
    display: flex;
    flex-direction: column;

}

.inputcustomize{
    padding: 1em 1em;
}

.payment{
    display: flex;
    align-items: center;
    gap: .8em;
}
.border{
    padding: 3em 0;
    border: solid 2px black;
    border: none;
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: white;
    width: 50%;
    margin: 2em 2em;
    
}