*{
  padding: 0;
  margin: 0;
  box-sizing:border-box
}

body{

}
.navlinks{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
   padding:1em;
 align-items:center;
 background-color: maroon;
 color:#fff;
 width: 100%;

}
.navlinks li a:hover{
  color:orange;
  cursor: pointer;

}

.footerul h4{
  font-size: 1rem;
}

.footerul ul li{
  font-size: .8rem;
  list-style-type: none;
  line-height: 3em;
  cursor: pointer;
}


.donation-btn{
  padding: .5em;
  width: 100%;
  border-radius:10px;
  border:none
}

.myimages{
  height:80vh;
  width:100%
}

.myimages img{
  height:100%h;
  width:100%
}
/* BLOG POSTS */
.bog_container{
  display: flex;
  flex-direction: column;
  width: 80%;
  flex-wrap: wrap;
}
.blog_single_post{
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bog_container button{
  border-radius: 4%;
  padding: .2em 0;  
}

.bog_container p{
  width: 40%;
}