*{
  padding: 0;
  margin: 0;
  box-sizing:border-box
}

/* body{

} */
.navlinks{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
   padding:1em;
 align-items:center;
 background-color: maroon;
 color:#fff;
 width: 100%;

}
.navlinks li a:hover{
  color:orange;
  cursor: pointer;

}

.footerul h4{
  font-size: 1rem;
}

.footerul ul li{
  font-size: .8rem;
  list-style-type: none;
  line-height: 3em;
  cursor: pointer;
}


.donation-btn{
  padding: .5em;
  width: 100%;
  border-radius:10px;
  border:none
}

.myimages{
  height:80vh;
  width:100%
}

.myimages img{
  height:100%h;
  width:100%
}


.founder{
width: 10%;
height: 20%;
}
